body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

#il {
    width: 40%;
    margin-left: 30%;
}

#ul {
    width: 40%;
    margin-left: 30%;
}
